@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fff;
}
#event {
    position: relative;
}

.carousel-heading {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    left: 630px;
}

.Carousel_text_hide {
    visibility: hidden;
    width: 400px !important;
    position: absolute;
    width: 500px;
    bottom: -10px;
    text-align: center !important;
}

.Carousel_text_show>div {
    display: block;
}

.Carousel_text_hide {
    transform: translateY(28px);
    display: none;
}

.Carousel_text_show>div {
    visibility: visible;
}

.carousel_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel_section_ncs {
    height: 750px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* set to flexbox to center the images with the indicator icons */

.carousel_section_ncs-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px !important;
    height: 600px !important;
}

.carousel_section_ncs-item h2 {
    margin-top: 2rem !important;
    margin-bottom: 12px !important;
    text-align: center !important;
    font-size: 28px !important;
}

.carousel_section_ncs-item img {
    min-width: 500px !important;
    height: auto !important;
    border-radius: 20px !important;
}

.carousel_section_ncs {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.carousel_section_ncs.carousel_section_ncs-slider {
    top: 0;
    left: 0;
}

.carousel_section_ncs.carousel_section_ncs-slider .carousel_section_ncs-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1;
}

.carousel_section_ncs.carousel_section_ncs-slider .carousel_section_ncs-fixed-item.with-indicators {
    bottom: 68px;
}

.carousel_section_ncs.carousel_section_ncs-slider .carousel_section_ncs-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel_section_ncs.carousel_section_ncs-slider .carousel_section_ncs-item h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.carousel_section_ncs.carousel_section_ncs-slider .carousel_section_ncs-item p {
    font-size: 15px;
}

.carousel_section_ncs .carousel_section_ncs-item {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel_section_ncs .carousel_section_ncs-item>img {
    width: 100%;
}

.carousel_section_ncs .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.carousel_section_ncs .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.carousel_section_ncs .indicators .indicator-item.active {
    background-color: #fff;
}

.carousel_section_ncs.scrolling .carousel_section_ncs-item .materialboxed,
.carousel_section_ncs .carousel_section_ncs-item:not(.active) .materialboxed {
    pointer-events: none;
}

#event {
    padding-top: 3rem;
    padding-bottom: 2rem !important;
    width: 90% !important;
    margin: 0 auto !important;
}

#event>h1 {
    margin: 1.3rem auto 0 auto !important;
    font-size: 36px;
}

#carousel-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#carousel-event button {
    border: none !important;
    background-color: transparent !important;
    cursor: pointer;
    z-index: 10;
}

.Carousel_text_hide h2 {
    margin-top: 1rem !important;
}

#carousel-button-left {
    left: 60px;
    position: absolute;
}

#carousel-button-right {
    right: 60px;
    position: absolute;
}

@media only screen and (max-width: 319px) {
    .carousel_section_ncs-item img {
        min-width: 200px !important;
        height: auto !important;
        border-radius: 20px !important;
    }
    #event {
        width: 100% !important;
    }
    .carousel_section_ncs-item {
        width: 220px !important;
    }
    #carousel-event {
        height: 500px !important;
    }
    .carousel_section_ncs {
        height: 500px !important;
    }
    .carousel_section_ncs {
        height: 500px !important;
        padding-right: auto !important;
        padding-left: auto !important;
        align-items: center;
        justify-content: center;
    }
    .Carousel_text_hide {
        width: 220px !important;
        height: 200px !important;
        padding: 0 !important;
    }
    .Carousel_text_hide h2 {
        margin: 10px 0 0 0 !important;
        padding: 0 !important;
        font-size: 24px !important;
    }
    #carousel-button-left,
    #carousel-button-right {
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .carousel_section_ncs-item img {
        min-width: 220px !important;
        height: auto !important;
        border-radius: 20px !important;
    }
    #event {
        width: 100% !important;
    }
    .carousel_section_ncs-item {
        width: 220px !important;
    }
    #carousel-event {
        height: 500px !important;
    }
    .carousel_section_ncs {
        height: 500px !important;
    }
    .carousel_section_ncs {
        height: 500px !important;
        padding-right: auto !important;
        padding-left: auto !important;
        align-items: center;
        justify-content: center;
    }
    .Carousel_text_hide {
        width: 220px !important;
        height: 200px !important;
        padding: 0 !important;
    }
    .Carousel_text_hide h2 {
        margin: 10px 0 0 0 !important;
        padding: 0 !important;
        font-size: 24px !important;
    }
    #carousel-button-left,
    #carousel-button-right {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .carousel_section_ncs-item img {
        min-width: auto !important;
        height: 300px !important;
        border-radius: 20px !important;
    }
    #event {
        width: 100% !important;
    }
    #carousel-event {
        height: 700px !important;
    }
    .carousel_section_ncs-item {
        width: 280px !important;
    }
    .carousel_section_ncs {
        height: 650px !important;
    }
    .Carousel_text_hide {
        width: 280px !important;
        min-height: 250px !important;
        padding: 0 !important;
    }
    .Carousel_text_hide h2 {
        margin: 0 !important;
        padding: 0 !important;
    }
    #carousel-button-left,
    #carousel-button-right {
        display: none;
    }
}

@media only screen and (min-width: 425px) and (max-width: 499px) {
    .carousel_section_ncs-item img {
        min-width: 220px !important;
        height: auto !important;
        border-radius: 20px !important;
    }
    #event {
        width: 100% !important;
    }
    .carousel_section_ncs {
        height: 650px !important;
    }
    .Carousel_text_hide {
        width: 320px !important;
    }
    #carousel-button-left,
    #carousel-button-right {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    .carousel_section_ncs-item img {
        min-width: 350px !important;
        height: auto !important;
        border-radius: 20px !important;
    }
}

@media only screen and (min-width: 600px) {
    .carousel_section_ncs-item img {
        min-width: 360px !important;
        height: auto !important;
        border-radius: 20px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .carousel_section_ncs-item img {
        min-width: 400px !important;
        height: auto !important;
        border-radius: 20px !important;
    }
    .carousel_section_ncs-item {
        width: 220px !important;
    }
    .Carousel_text_hide h2 {
        margin-top: 1rem !important;
    }
    .Carousel_text_hide {
        width: 390px !important;
        height: auto !important;
    }
}

@media only screen and (min-width: 1441px) {
    .carousel_section_ncs-item {
        width: 220px !important;
        height: auto;
    }
    .Carousel_text_hide {
        width: 390px !important;
    }
}



